.container {
    padding: 40px 40px;
    background: whitesmoke;
}

.col {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 60px;
}
.list-unstyled, .row {
    display: grid;
    grid-gap: 10px;
}
.list-styled {
    color: #000000;
    margin-bottom: 10px;
    font-size: 18px;
    text-decoration: none;
}

